html {
  text-align: center;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#BroadwayDesign p {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

#BroadwayDesign, #Designed {
  background-image: url("../../Resources/the-flatiron-building.png");
}

#Designed {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#footer {
  font-family: Helvetica;
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align: left;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}
